<div class='container'>
	<%= render 'shared/header' %>
	<div class='page-content'>
		<h1 class='page-title'>Data</h1>
		<%= link_to 'Table of Contents', stock_options_path %><br><br>

	</div>
	<div class='footer'></div>
</div>